# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# PyInstaller output
*.manifest
*.dll
